<ol>
 
  <li><a class="nav-link" href="#" routerLink="/home" >Home</a></li>
  <footer>Bhojan </footer>
</ol>





<div class="container">
    <div class="submit-form">
      <div *ngIf="!submitted">
        <div class="form-group">
          <label for="title">Name</label>
          <input
            type="text"
            class="form-control"
            id="foodName"
            required
            [(ngModel)]="food.foodName"
            name="foodName"
          />
        </div>
  
        <div class="form-group">
          <label for="description">PRICE</label>
          <input
            class="form-control"
            id="price"
            required
            [(ngModel)]="food.price"
            name="price"
          />
        </div>

        <div class="form-group">
            <label for="description">Offer</label>
            <input
              class="form-control"
              id="offer"
              required
              [(ngModel)]="food.offer"
              name="offer"
            />
          </div>

          <div class="form-group">
            <label for="description">foodCategory</label>
            <input
              class="form-control"
              id="foodCategory"
              required
              [(ngModel)]="food.foodCategory"
              name="foodCategory"
            />
          </div>
  
        <button (click)="saveTutorial()" class="btn btn-success">Submit</button>
      </div>
  
      <div *ngIf="submitted">
        <h4>Food was added successfully!</h4>
        
      </div>
    </div>
  </div>
  

