<ul>
    <li> <a class="nav-link" href="#" routerLink="/registration">Registration</a></li>
     <li><a class="nav-link" href="#" routerLink="/login" >Login</a></li>
     <li><a class="nav-link" href="#" routerLink="/adminlogin" >Admin Login</a></li>
     <li><a class="nav-link" href="#" routerLink="/restlogin" >Rest Login</a></li>
     <li><a class="nav-link" href="#" routerLink="/aboutus" >About US</a></li>
     
   
     <header>Bhojan</header>
  </ul>



<img src="../assets/images/home.jpeg" alt="No Image" height="100%" width="100%">


 <app-front></app-front> 




                 






