
<!-- <ul>
  <li><a class="nav-link" href="#" routerLink="/home" >Home</a></li> 


 <header>Bhojan</header>
</ul> -->



<div class="container">

<div *ngIf="viewMode; else editable">
    <div *ngIf="currentFood.foodId">
      <h4>Food</h4>
      <div>
        <label><strong>Title:</strong></label> {{ currentFood.foodName }}
      </div>
      <div>
        <label><strong>Category:</strong></label>
        {{ currentFood.foodCategory }}
      </div>
      
  
      <a
        class="badge badge-warning"
        routerLink="/food-details/{{ currentFood.foodId }}"
      >
        Edit
      </a>
    </div>
  
    <div *ngIf="!currentFood">
      <br />
      <p>Please click on a Food item...</p>
    </div>
  </div>
</div>
  <ng-template #editable>
     
    <div *ngIf="currentFood.foodId" class="edit-form">
      <h4>Food</h4>
      <form>
        <div class="form-group">
          <label for="title">Title</label>
          <input
            type="text"
            class="form-control"
            id="title"
            [(ngModel)]="currentFood.foodName"
            name="foodName"
          />
        </div>
        <div class="form-group">
          <label for="description">Name</label>
          <input
            type="text"
            class="form-control"
            id="category"
            [(ngModel)]="currentFood.foodCategory"
            name="category"
          />
        </div>

         <div class="form-group">
          <label for="description">Price</label>
          <input
            type="text"
            class="form-control"
            id="price"
            [(ngModel)]="currentFood.price"
            name="price"
          />
        </div>

        <div class="form-group">
          <label for="description">Offer</label>
          <input
            type="text"
            class="form-control"
            id="offer"
            [(ngModel)]="currentFood.offer"
            name="offer"
          />
        </div>
     
     
  
       
      </form>
  
  
  
      <button class="btn btn-danger mr-2" (click)="deleteFood()">
        Delete
      </button>
  &nbsp;&nbsp;&nbsp;
      <button 
        type="submit"
        class="btn btn-success mr-2"
        (click)="updateFood()"
      >
        Update
      </button>
      <p>{{ message }}</p>
    </div>
  
    <div *ngIf="!currentFood.foodId">
      <br />
      <p>Cannot access this Food...</p>
    </div>
  </ng-template>
  
